<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmcorg.service.engine.web.user.mapper.SysUserProMapper">

    <!-- 分页排序查询 -->
    <select id="myPage" resultType="com.cmcorg.service.engine.web.user.model.vo.SysUserPageVO">
        SELECT
        a.id AS id,
        a.email AS email,
        a.sign_in_name as signInName,
        a.create_time AS createTime,
        a.update_time AS updateTime,
        a.enable_flag AS enableFlag,
        IF ( a.`password` = '', 0, 1 ) AS passwordFlag,
        b.nickname AS nickname,
        b.avatar_uri AS avatarUri
        FROM
        sys_user a
        LEFT JOIN sys_user_info b ON b.id = a.id
        WHERE
        a.del_flag = FALSE
        AND b.nickname != ''
        <if test="dto.nickname != null and dto.nickname != ''">
            AND b.nickname LIKE CONCAT('%', #{dto.nickname}, '%')
        </if>
        <if test="dto.email != null and dto.email != ''">
            AND a.email LIKE concat('%', #{dto.email}, '%')
        </if>
        <if test="dto.enableFlag != null">
            AND a.enable_flag = #{dto.enableFlag}
        </if>
        <if test="dto.passwordFlag != null">
            AND IF ( a.`password` = '', 0, 1 ) = #{dto.passwordFlag}
        </if>
    </select>

</mapper>
